
* {
    margin: 0;
    padding: 0;
}

#image-holder {
    position: relative;
}

img {
    border: 3px solid black;
}

.blob {
    border: 1px solid black;
}

.arrowhead {
    border: 1px solid black;
}

.text {
    border: 1px solid black;
}

#right-float {
    float: right;
}